language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - 7

before_install:
  - composer selfupdate

install:
  - composer install --prefer-source --no-interaction --dev
  - curl -s https://github.com/satooshi/php-coveralls/releases/download/v1.0.0/coveralls.phar > coveralls.phar

script:
  - vendor/bin/phpspec run --format=pretty

after_success:
  - travis_retry php coveralls.phar -v
